@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-vazir {
    font-family: "Vazirmatn", Tahoma, sans-serif;
    direction: rtl;
  }
  .font-source {
    font-family: "Source Sans Pro", sans-serif;
    direction: ltr;
  }
}
